@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-black/50 dark:text-white/75;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-stone-100/75 dark:bg-stone-900/25;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

.isrtl {
  direction: rtl;
  text-align: right;
  font-family: Vazirmatn, sans-serif;
}


.gallery img {
  cursor: zoom-in;
  @apply max-w-full h-auto;
  @apply transition-transform duration-300 ease-in-out;
  @apply hover:scale-105;
  @apply md:max-w-[500px];
}


/*  LightBox */
.sl-overlay {
  background-color: rgba(0, 0, 0, 0.85) !important;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.sl-wrapper {
  z-index: 10000;
}

.sl-wrapper .sl-close {
  font-size: 28px;
  color: #fff;
  position: fixed;
  right: 20px;
  top: 20px;
}

.sl-wrapper .sl-navigation button {
  color: #fff;
}

.sl-wrapper .sl-caption {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff;
  font-size: 1rem;
}

html.has-lightbox {
  overflow: hidden !important;
}




/* Ensure no conflict with Astro transitions */
.sl-overlay, .sl-wrapper, .sl-wrapper * {
  view-transition-name: none !important;
  transition: none !important;
  animation: none !important;
}

/* Make sure the overlay is properly hidden when closing */
.sl-overlay.sl-fade-out {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.sl-counter {
  color: #fff !important;
}